

<!-- contact/success.html.twig -->
<h1>Üzenet elküldve</h1>
<p>Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen."</p>
<a href="{{ path('contact_submit') }}" class="btn btn-primary">Vissza az üzenetküldő oldalra</a>
